

/* is for class selector*/
.container{
    max-width: 900px;
    margin: 0 auto;
}
/* space is descendet selector*/
nav ul{
display: flex;
list-style-type: none;  
pad: 0 ;    
margin: 0;

}
/* space is descendet selector*/
nav ul li {
    flex: 1;

}

/* > is child combintor*/

main > p{
    font-size: 1.25rem;
}

/* + is adjacent combintor*/
h2 +p{
    background-color: black;
    color: white;
    padding: 1rem;
}
/* ~ is sibling combintor*/
.stars span:hover ~ span{
    opacity: .5;
}
